policy_module(hwgrading,1.0)

require {
        type unconfined_t;
        type bin_t;
        type shell_exec_t;
        type user_devpts_t;
        type etc_t;
        type shell_exec_t;
        type user_home_dir_t;
        type http_port_t;
        type node_t;
        role unconfined_r;
        attribute domain;
        attribute file_type;
        attribute exec_type;
};

type hwgrading_t, domain;
type hwgrading_exec_t, file_type, exec_type;

role unconfined_r types hwgrading_t;

type_transition unconfined_t hwgrading_exec_t:process hwgrading_t;

allow unconfined_t hwgrading_t:process transition;

allow hwgrading_t hwgrading_exec_t:file {entrypoint read open getattr ioctl};
allow hwgrading_t bin_t:file {execute execute_no_trans read map};
allow hwgrading_t shell_exec_t:file {execute read};
allow hwgrading_t user_devpts_t:chr_file {read write append getattr ioctl};
allow hwgrading_t user_home_dir_t:dir {getattr};
allow hwgrading_t etc_t:file {map};
allow hwgrading_t self:tcp_socket {create accept read write bind listen getopt setopt ioctl lock shutdown};
allow hwgrading_t self:capability {net_bind_service};
allow hwgrading_t node_t:tcp_socket {node_bind};
allow hwgrading_t http_port_t:tcp_socket {name_bind};